<div class="show-title col m7 container center">
  <h3><%= current_user.nickname %>'s locations</h3>
</div>

<div class="details center">
  <h5>Times and Weather for Favorite Locations</h5>
</div>

<div class="favorite center">
  <h5>Favorite Locations</h5>
</div>

<%= render partial: "partials/favorite_locations_table" %>

<div class="recent center">
  <h5>Most Recent Locations</h5>
</div>

<%= render partial: "partials/recent_locations_table" %>
