.landing-image {
  background: url("/assets/landing-page.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.location-info {
  background: url("/assets/location-info.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.location-show {
  background: url("/assets/location-show.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.user-favorites {
  background: url("/assets/user-favorites.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.home-title {
  color: white;
  font-size: 70px;
  margin-top: 70px;
}

.welcome {
  color: #ff8f00;
  font-size: 25px;
  margin-bottom: 30px;
}

.where-title {
  color: white;
  font-size: 55px;
  margin-top: 30px;
}

.show-title {
  color: white;
  font-size: 55px;
  margin-top: 70px;
}

.login {
  font-size: 11px;
}

#location-form {
  background-color: rgba(112, 175, 196, .6);
  font-weight: bold;
  color: white;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 7px;
}

.form-text {
  color: black;
  font-size: 1.2em;
}

.submit-btn {
  color: black;
  padding: 5px;
}

.datepicker {
  color: black;
  font-size: 1.2em;
}

#show-table {
  background-color: rgba(222, 183, 182, .6);
  color: white;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 7px;
  font-size: 16px;
}
