<div class="show-title col m6 offset-m1 container center">
  <h2>Sunrise and Sunset info for <%= @location.city %></h2>
</div>

<%= render partial: "partials/locations_details", locals: { target: @location, target: @cleaner } %>
